.social-login
    button.social-login__github
        span
            i.fab.fa-github
        |Continue with Github
    button.socal-login__facebook
        span
            i.fab.fa-github
        |Continue with Facebook